@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e1d22;
  --color-secondary: #8b2424fb;
  --color-bg-card: #b99a3c;
  --color-section: #8b2424bb;
  --color-shadow: #000000;
}

html,
body {
  @apply bg-[var(--color-primary)] text-white font-sans;
}

h1 {
  @apply text-4xl font-bold text-start;
}

